a:link {
	COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif
}
a:active, a:hover {
	COLOR: #FFFFFF; Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
a:visited {
	COLOR: #FFFFFF; Arial, Helvetica, sans-serif
}