
/********** GLOBAL BEGIN **********/

	* {
		
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 11px;
		text-align: center;
		color: #000;
		
	}

	body {
		
		margin: 0;
		padding: 0;

		font-size: 13px;
		color: #555;
		
		background: #fff url("images/background.jpg") repeat-x;
		
	}

	a { text-decoration: none; }
	a:hover { text-decoration: underline; }

	#main {
		
		width: 100%;
		margin: 0 auto;
		
	}
	
.emailform {
	border:1px solid #ddd;
	background: #fafafa;
	font: bold 16px arial, sans-serif;
	font-size: 15px;
	color: #000;
	margin-right: 40px;
	text-align: left;
}

#radio_h { display: none;}
#file { margin-right: 20px; }
#submit {

	border: 0px;
	width: 115px;
	padding: 11px;
	cursor: pointer;
	font: bold 16px verdana;
	color: #000;

}

#p_email { font: bold 14px arial, sans-serif; }

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#ADC4E3;
} 


/********** GLOBAL END **********/


/********** HEADER BEGIN **********/

	#header {
		
		float: left;
		width: 100%;
		
	}

	#logo {
		
		float: left;
		margin: 40px 0 0 40px;
		
	}

	#logoLeft { 
		
		display: none;
		float: right;
		margin-right: 2.5%;
		
	}
	
	#sep { 
		
		float: left;
		width: 95%;
		margin: 0 2.5% 0 2.5%;
		border-top: 2px solid #ADC4E3;
		line-height: 0;
		background: #ADC4E3;
		
	}
	
/********** HEADER END **********/


/********** CONTENT BEGIN **********/

	#content {

		float: left;
		width: 95%;
		margin: 0 2.5% 0 2.5%;
		
	}
	
	#inner_content { 
		
		float: left;
		width: 100%;
		
	}
	
	.box {
	
		float: left;
		width: 100%;
		margin-top: 12px;
		padding-bottom: 10px;
		border: 1px solid #ADC4E3;
		text-align: center;

	}
	
	.box h2 {

		margin-top: 0;
		padding: 5px 0 8px 5px;
		
		font-size: 14px;
		text-align: left;
		
		background: #ADC4E3;

	}
	
	.sticks {
		
		float: left;
		width: 215px;
		height: 48px;
		margin: 10px 10px 10px 10px;
		
		text-align: left;
		
		cursor: pointer;
		overflow: hidden;
		background: url("images/sticks.gif") no-repeat;

	}
	
	#s1 { background-position: 0 0; }
	#s2 { background-position: 0 -68px; }
	#s3 { background-position: 0 -136px; }
	#s4 { background-position: 0 -204px; }
	#s5 { background-position: 0 -272px; }
	
	#sticks_imgs #s1 { background-position: -25px 0; }
	#sticks_imgs #s2 { background-position: -25px -68px; }
	#sticks_imgs #s3 { background-position: -25px -136px; }
	#sticks_imgs #s4 { background-position: -25px -204px; }
	#sticks_imgs #s5 { background-position: -25px -272px; }
	
	#imageCrop {
		
		float: left;
		width: 500px;
		height: 619px;
		text-align: center;
		
	}
	
	#wrap { padding: 0 0 20px 0; }
	#photo { display: none; }
	
	#right_side {
		
		float: left;
		width: 220px;
		padding-left: 12px;
		
	}
	
	#preview_box { height: 280px; }
	#preview { margin-left: 15px; }
	
	#preview_stick {
		
		position: relative;
		top: -48px;
		left: 15px;
		z-index: 9999;
		width: 190px;
		height: 48px;
		margin-bottom: -50px;
		background: url("images/sticks.gif") no-repeat;
		background-position: -25px 0;
		
	}
	
	#preview_stick img { display: none; }
	#preview_box input { margin-top: 13px;}
	#sticks_box { height: 315px; }
	#sticks_box .sticks { margin: 3px 15px 3px 15px; }
	
/********** CONTENT END **********/


/********** FOOTER BEGIN **********/

	#footer {
		
		float: left;
		width: 100%;
		height: 135px;
		margin-top: 25px;
		overflow: hidden;
		background: #ADC4E3;
		
	}

	#footer_content {
		
		float: left;
		margin: 15px 0 0 15px;
		text-align: left;
		
	}

	#footer ul {
		
		margin: 0 0 12px -40px;
		text-align: left;
		
	}

	#footer li { display: inline; }

	.share_icons {
		
		float: left;
		width: 130px;
		height: 32px;
		margin: 5px 0 15px 0;
		overflow: hidden;
		background: url("images/shareicons.png") no-repeat;
		
	}
	
	#orkut { background-position: 0 -36px; }
	#orkut:hover { background-position: 0 -68px; }
	#twitter { background-position: -143px -36px; }
	#twitter:hover {	background-position: -143px -68px; }
	#blogger  { background-position: -286px -36px; }
	#blogger:hover { background-position: -286px -68px; }
	#youtube { background-position: -429px -36px; }
	#youtube:hover { background-position: -429px -68px; }

	#footer #credits {
		
		float: left;
		width: 100%;
		text-align: left;
		
	}
	
/********** FOOTER END **********/